body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p.center_align {
    text-align: center;
    font-size: 53px;
    color: #fff;
}



.login-page h1 {
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.login-page form {
    max-width: 672px;
    margin: 0 auto;
}

.login-page form input {
    height: 49px !important;
}

.login-page label {
    color: lightgrey;
}

.login-page div p {
    color: #f44336;
}

.login-page input[type="submit"] {
    width: 146px;
    text-transform: uppercase;
    font-weight: 600;
}